@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html,
body {
    height: 100%;
    width: 100%;
}

.mainContainer {
	padding: 4.5rem 0rem 0rem 0rem;

}

*::-webkit-scrollbar {
    display: none;
}
