#path {
    display: inline;
    fill-opacity: 0;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: bevel;
    stroke-opacity: 1;
    paint-order: stroke fill markers;
    stroke-dasharray: 2700;
    stroke-dashoffset: 2700;
    animation: animateStroke 5s cubic-bezier(.5, -.75, .7, 2) 1 forwards;
}

@keyframes animateStroke {
    to {
        stroke-dashoffset: 0;
    }
}

